@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

section{
    display: flex;
}

.search-form{
    padding: 20px;
}

.search-form label{
    font-weight: bold;
}

.search-form select{
    padding: 5px;
    background-color: whitesmoke;
    border-radius: 5px;
    border: 2px solid whitesmoke;
}

.search-form button{
    padding: 5px;
    background-color: blue;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 5px;
}

.add-flight-btn{
    padding: 5px;
    background-color: green;
    color: whitesmoke;
    font-weight: bold;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
}

.add-flight-btn:hover{
    background-color: darkgreen;
}

.flight-already-booked{
    background-color: rgb(235, 112, 112);
    padding: 10px;
    text-align: center;
}

.flight-already-booked p{
    color: whitesmoke;
    font-weight: bold;
}

.search-form label, select, button{
    padding: 10px;
}

.search-form button{
    font-weight: bold;
    padding: 5px;
    margin-left: 15px;
}

.status-bar{
    text-align: center;
    padding: 10px;
    background-color: rgb(235, 112, 112);
    color: white;
    font-weight: bold;
}

.success-bar{
    text-align: center;
    padding: 10px;
    background-color: green;
    color: white;
    font-weight: bold;
}