@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.center-div{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
}

.flight-bookings{
    width: 50%;
    margin: auto;
    text-align: center;
}

.flights-table{
    text-align: center;
}

.flights-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .add-pad {
    padding: 10px;
  }
  
  .add-bold {
    font-weight: bold;
  }
  
  table {
    margin: 0 auto;
  }

.flight-bookings-title{
    background-color: rgb(0, 51, 102);
    color: white;
    border-radius: 10px;
}

.dynamic-table{
    border: 2px solid whitesmoke;
    border-radius: 10px;
    width: 100%;
    text-align: left;
}

.no-bookings-message{
  border: 2px solid whitesmoke;
  border-radius: 5px;
  padding: 70px;
  margin-top: 30px;
}

.main-content{
  position: relative;
  min-height: 100vh;
}

.cancel-btn{
  margin-top: 10px;
  padding: 5px;
  border: 2px solid whitesmoke;
  border-radius: 5px;
  background-color: red;
  color: whitesmoke;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cancel-btn:hover{
  background-color: darkred;
}

.show-cancel-flight{
  text-align: center;
  padding: 10px;
  background-color: rgb(235, 112, 112);
  color: white;
  font-weight: bold;
}
