@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

header h1{
    color: white;
}

.add-pad{
    padding: 10px;
}

.login-card{
    margin: auto;
    width: 30%;
    border: 2px solid whitesmoke;
    padding: 10px;
    margin-top: 100px;
    text-align: center;
}

input[type=email], input[type=password], input[type=text]{
    padding: 10px;
    margin: 10px 0px;
}

.email-title label, .password-title label{
    text-align: left;
}

.login-btn button{
    padding: 10px;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid white;
}

.error-box{
    width: 30%;
    margin: auto;
    border: 2px solid red;
    text-align: center;
    margin-top: 30px;
    background-color: rgb(255, 119, 119);
    border-radius: 5px;
    padding: 10px;
}

.create-account{
    margin-top: 30px;
}

.create-account a{
    text-decoration: none;
}

