.bookings-details{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 40px;
}

.confirm-booking{
    background-color: green;
    margin-top: 30px;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    font-weight: bold;
    color: whitesmoke;
    padding: 10px;
}

.confirm-booking:hover{
    background-color: darkgreen;
}

.payment-section{
    margin: 30px;
    border: 2px solid whitesmoke;
    border-radius: 5px;
}

.payment-section input{
    padding: 5px;
    border: 2px solid whitesmoke;
}

.add-pad{
    padding: 10px;
}


.payment-section{
    text-align: center;
}

.align-left{
    text-align: left;
}

table{
    border: none;
}

.cancel-transaction{
    border: 2px solid whitesmoke;
    border-radius: 5px;
    background-color: red;
    font-weight: bold;
    color: whitesmoke;
    transition: all 0.3s ease 0s;
}

.cancel-transaction:hover{
    background-color: darkred;
}

.validate-btn{
    border: 2px solid whitesmoke;
    border-radius: 5px;
    background-color: green;
    font-weight: bold;
    color: whitesmoke;
    transition: all 0.3s ease 0s;
}

.validate-btn:hover{
    background-color: darkgreen;
}

.dynamic-table{
    border: none;
}

.bookings-details{
    border: 2px solid whitesmoke;
    border-radius: 5px;
}

#price-breakdown{
    margin-top: 30px;
}

hr{
    border-color: whitesmoke;
    margin: 20px;
}

.status-bar{
    text-align: center;
    padding: 10px;
    background-color: rgb(235, 112, 112);
    color: white;
    font-weight: bold;
}

.success{
    text-align: center;
    padding: 10px;
    background-color: green;
    color: white;
    font-weight: bold;
}

#book-flight-status{
    text-align: center;
    padding: 10px;
    background-color: green;
    color: white;
    font-weight: bold;
}