.bookings-details{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 40px;
}

.confirm-booking{
    background-color: green;
    margin-top: 30px;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    font-weight: bold;
    color: whitesmoke;
    padding: 10px;
}

.confirm-booking:hover{
    background-color: darkgreen;
}

.payment-section{
    margin: 30px;
    border: 2px solid whitesmoke;
    border-radius: 5px;
}

.payment-section input{
    padding: 5px;
    border: 2px solid whitesmoke;
}

.add-pad{
    padding: 10px;
}


.payment-section{
    text-align: center;
}

.align-left{
    text-align: left;
}

table{
    border: none;
}