<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/navbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/account.css') }}">
    <title>Account - Horizon Airlines</title>
</head>
<body>
    {% include "nav-bar.html" %}
    
    <section>
        <div class="user-account add-pad">
            <div id="acc-img">
                <img src="../static/images/round-account-button-with-user-inside.png" alt="">
            </div>

            <div class="user-details">
                <table class="user-details-table add-pad">
                    <tr>
                        <td class="add-pad add-bold">Name</td>
                        <td class="add-pad">{{user_name}}</td>
                    </tr>
                    <tr>
                        <td class="add-pad add-bold">Email</td>
                        <td class="add-pad">{{user_email}}</td>
                    </tr>
                    <tr>
                        <td class="add-pad add-bold"><button class="delete-account add-bold">Delete Account</button></td>
                        <td class="add-pad add-bold"><button class="update-details add-bold">Update Details</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </section>

</body>
</html>