<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/navbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/account.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/login.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <title>Account - Horizon Airlines</title>
</head>
<body>
    {% include "nav-bar.html" %}
    
    <section>
        <div class="user-account add-pad">
            <div id="acc-img">
                <img src="../static/images/round-account-button-with-user-inside.png" alt="">
            </div>

            <div class="user-details">
                <table class="user-details-table add-pad">
                    <tr>
                        <td class="add-pad add-bold">Name</td>
                        <td class="add-pad">{{user_name}}</td>
                    </tr>
                    <tr>
                        <td class="add-pad add-bold">Email</td>
                        <td class="add-pad">{{user_email}}</td>
                    </tr>
                    <tr>
                        <td class="add-pad add-bold">
                            <form action="{{ url_for('account.delete_account') }}", method="post">
                                <button class="add-bold btn delete-btn" id="delete-account">Delete Account</button></td>
                        <td class="add-pad add-bold"><button class="add-bold btn update-btn" id="update-details-main">Update Details</button>
                            </form>
                            </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="update-details">
            <form method="post" action="{{ url_for('account.update_account') }}">
                <table class="user-details-table add-pad">
                    <tr>
                        <td class="add-pad add-bold">Name</td>
                        <td class="add-pad"><input type="text" name="user_name" value="{{ user_name }}"></td>
                    </tr>
                    <tr>
                        <td class="add-pad add-bold">Email</td>
                        <td class="add-pad"><input type="text" name="user_new_email" value="{{ user_email }}"></td>
                    </tr>
                    <tr>
                        <td class="add-pad add-bold">Password</td>
                        <td class="add-pad"><input type="password" name="user_password" value="{{ user_password }}"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="add-pad add-bold"><button class="add-bold btn update-btn" type="submit">Update Details</button></td>
                    </tr>
                </table>
            </form>
            
        </div>

    </section>

    <script src="../static/JS/deleteAccount.js"></script>
    <script src="../static/JS/updateAccountDetails.js"></script>

</body>
</html>