<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/navbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/flights.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/homepage.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <title>Search Flights - Horizon Airlines Bookings</title>
</head>
<body>

    {% include "nav-bar.html" %}


    <div class="flight-already-booked" style="display: none">
        <p>Error - You have already booked this flight</p>
    </div>

    {% if status %}
    <p class="status-bar">{{status}}</p>
    {% endif %}

    {% if success %}
    <p class="success-bar">{{success}}</p>
    {% endif %}

    <section class="main-content add-pad">

        <div class="flight-bookings">
            <div class="flight-bookings-title">
                <h1 class="add-pad">Search Flights</h1>
            </div>

            <div class="search-form">
                <form method="POST" action="{{ url_for('flights.search_flights') }}">
                    <label for="from_locations">From: </label>
                    <select name="from_location" id="from_locations">
                        <option value="">None</option>
                        {% for loc in from_locations %}
                        <option value="{{loc}}">{{loc}}</option>
                        {% endfor %}
                    </select>
                
                    <label for="to_locations">To: </label>
                    <select name="to_location" id="to_locations">
                        <option value="">None</option>
                        {% for loc in to_locations %}
                        <option value="{{loc}}">{{loc}}</option>
                        {% endfor %}
                    </select>
                
                    <button type="submit">Search Flights</button>
                </form>
            </div>

            <h3>{{search_message}}</h3>

            {% if all_flights != [] %}
            <div class="flights-table">
                {% for f in all_flights %}
                <table class="add-pad dynamic-table" style="margin-top: 10px;">
                    <tr>
                        <td class="add-bold">Flight ID: </td>
                        <td>{{f["flight_id"]}}</td>
                    </tr>
                    <tr>
                        <td class="add-bold">Airline Name: </td>
                        <td>{{f["airlineName"]}}</td>
                    </tr>
                    <tr>
                        <td class="add-bold">From Location: </td>
                        <td>{{f["fromLocation"] + " (" + f["fromLocationAirportCode"] + ")"}}</td>
                    </tr>
                    <tr>
                        <td class="add-bold">To Location: </td>
                        <td>{{f["toLocation"] + " (" + f["toLocationAirportCode"] + ")"}}</td>
                    </tr>
                    <tr>
                        <td class="add-bold">Departure Date & Time: </td>
                        <td>{{f["departureTime"][0: 10] + " | " + f["departureTime"][11: 19]}}</td>
                    </tr>
                    <tr>
                        <td class="add-bold">Arrival Date & Time: </td>
                        <td>{{f["arrivalTime"][0: 10] + " | " + f["arrivalTime"][11: 19]}}</td>
                    </tr>
                    <tr>
                        <td class="add-bold">Flight Duration: </td>
                        <td>{{f["duration"]}}</td>
                    </tr>
                    <tr>
                        <td class="add-bold">Price:  </td>
                        <td>${{f["price"]}}</td>
                    </tr>
                    <tr>
                        <td class="add-bold"></td>
                        <td>
                            <a href="{{ url_for('payment.payment', flight_id=f['flight_id'], price = f['price'])}}">
                                <button class="add-flight-btn" id="{{ f['flight_id'] }}">Book Flight - {{ f['flight_id'] }}</button>
                            </a>
                            
                            
                        </td>
                    </tr>
                </table>
                {% endfor %}
            </div>
            {% else %}
            <div class="no-bookings-message">
                <h1>No flights available</h1>
            </div>
            {% endif %}
            </div>
        </div>
    </section>

        <section class="admin-functions">
            {% if user_email == "admin@gmail.com" %}
            <div class="admin-options">
                <button class="admin-add-flight btn">Add New Flight</button>
                <button class="admin-update-flight btn">Update Flight</button>
                <button class="admin-delete-flight btn">Delete Flight</button>
            </div>

            <div class="add-form" style="display: none;">
                <h1>Add Flight</h1>
                <form class="form-control">
                    <label for="flight_id">Flight ID:</label>
                    <input type="text" id="flight_id" name="flight_id"><br>
                  
                    <label for="airline_name">Airline Name:</label>
                    <input type="text" id="airline_name" name="airline_name"><br>
                  
                    <label for="origin">Origin:</label>
                    <input type="text" id="origin" name="origin"><br>
                  
                    <label for="origin_airport_code">Origin Airport Code:</label>
                    <input type="text" id="origin_airport_code" name="origin_airport_code"><br>
                  
                    <label for="destination">Destination:</label>
                    <input type="text" id="destination" name="destination"><br>
                  
                    <label for="destination_airport_code">Destination Airport Code:</label>
                    <input type="text" id="destination_airport_code" name="destination_airport_code"><br>
                  
                    <label for="departure_time">Departure Time:</label>
                    <input type="text" id="departure_time" name="departure_time"><br>
                  
                    <label for="arrival_time">Arrival Time:</label>
                    <input type="text" id="arrival_time" name="arrival_time"><br>
                  
                    <label for="duration">Duration:</label>
                    <input type="text" id="duration" name="duration"><br>
                  
                    <label for="price">Price:</label>
                    <input type="text" id="price" name="price"><br>
                    
                    <input type="submit" value="Submit" class="btn">
                  </form>
                  
            </div>

            <div class="update-form" style="display: none;">
                <h1>Update Flight</h1>
                <form class="form-control">
                    <label for="flight_id">Flight ID:</label>
                    <input type="text" id="flight_id" name="flight_id"><br>
                  
                    <label for="airline_name">Airline Name:</label>
                    <input type="text" id="airline_name" name="airline_name"><br>
                  
                    <label for="origin">Origin:</label>
                    <input type="text" id="origin" name="origin"><br>
                  
                    <label for="origin_airport_code">Origin Airport Code:</label>
                    <input type="text" id="origin_airport_code" name="origin_airport_code"><br>
                  
                    <label for="destination">Destination:</label>
                    <input type="text" id="destination" name="destination"><br>
                  
                    <label for="destination_airport_code">Destination Airport Code:</label>
                    <input type="text" id="destination_airport_code" name="destination_airport_code"><br>
                  
                    <label for="departure_time">Departure Time:</label>
                    <input type="text" id="departure_time" name="departure_time"><br>
                  
                    <label for="arrival_time">Arrival Time:</label>
                    <input type="text" id="arrival_time" name="arrival_time"><br>
                  
                    <label for="duration">Duration:</label>
                    <input type="text" id="duration" name="duration"><br>
                  
                    <label for="price">Price:</label>
                    <input type="text" id="price" name="price"><br>
                    
                    <input type="submit" value="Submit" class="btn">
                  </form>
            </div>

            <div class="delete-form" style="display: none;">
                <h1>Delete Flight</h1>
                <form class="form-control">
                    <label for="flight_id">Flight ID:</label>
                    <input type="text" id="flight_id" name="flight_id"><br>
                    <input type="submit" value="Submit" class="btn">
                  </form>
            </div>

            {% endif %}

        </section>

        <script src="../static/JS/addFlight.js"></script>
        <script src="../static/JS/admin.js"></script>
</body>
</html>