<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/homepage.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/navbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/footer.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <title>Homepage - Horizon Airlines</title>
</head>
<body>

    {% include "nav-bar.html" %}
    <div class="center-div">
        <h1>Welcome, {{user_name}}</h1>
    </div>

    <section class="main-content add-pad">

        <div class="flight-bookings">
            <div class="flight-bookings-title">
                <h1 class="add-pad">Your Flight Bookings</h1>
            </div>
            {% if has_bookings %}
            <div class="flights-table">
                {% for key, value in user_flights_dict.items() %}
                <table class="add-pad dynamic-table" style="margin-top: 10px;">
                    <tr>
                        <td class="add-bold">Flight ID: </td>
                        <td>{{key}}</td>
                    </tr>
                    <tr>
                        <td class="add-bold">Airline Name: </td>
                        <td>{{value[0]}}</td>
                    </tr>
                    <tr>
                        <td class="add-bold">From Location: </td>
                        <td>{{value[1] + " (" + value[2] + ")"}}</td>
                    </tr>
                    <tr>
                        <td class="add-bold">To Location: </td>
                        <td>{{value[3] + " (" + value[4] + ")"}}</td>
                    </tr>
                    <tr>
                        <td class="add-bold">Departure Date & Time: </td>
                        <td>{{value[5]}}</td>
                    </tr>
                    <tr>
                        <td class="add-bold">Arrival Date & Time: </td>
                        <td>{{value[6]}}</td>
                    </tr>
                    <tr>
                        <td class="add-bold">Flight Duration: </td>
                        <td>{{value[7]}}</td>
                    </tr>
                </table>
                {% endfor %}
            </div>
            {% else %}
            <div class="no-bookings-message">
                <h1>You don't have any bookings</h1>
            </div>
            {% endif %}
            </div>
        </div>
    </section>

    {% include "footer.html" %}

</body>
</html>