<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homepage.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='navbar.css') }}">
    <title>Document</title>
</head>
<body>

    <header>
        <img src="./Mason Logos/GMU_PLogo_KO+Gold.png" alt="" class="gmu-logo">
        <nav>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Bookings</a></li>
                <li><a href="#">Search Flights</a></li>
                <li><a href="#">Hotels</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </nav>
    </header>
    <div class="center-div">
        <h1>Welcome, {{user_name}}</h1>
    </div>

    <div class="flight-bookings center-div">
        <h1>Your Flight Bookings</h1>
        <ul>
          {% for key, value in user_flights_dict.items() %}
          <br>
          <br>
            <li>Flight ID: {{key}}</li>
            <li>Airline Name: {{user_flights_dict[key][0]}}</li>
            <li>From Location: {{user_flights_dict[key][1] + " (" + user_flights_dict[key][2] + ")"}}</li>
            <li>To Location: {{user_flights_dict[key][3] + " (" +  user_flights_dict[key][4] + ")"}}</li>
            <li>Departure Time: {{user_flights_dict[key][5]}}</li>
            <li>Arrival Time: {{user_flights_dict[key][6]}}</li>
            <li>Flight Duration: {{user_flights_dict[key][7]}}</li>
            <br>
            <br>
            <br>
          {% endfor %}
        </ul>
    </div>

</body>
</html>