<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/navbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/flights.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/homepage.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/payment.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <title>Payment</title>
</head>
<body>

    {% include "nav-bar.html" %}

    <p>{{flight_id}}</p>

    <div class="status-bar" id="status" style="display: none;">
        <p></p>
    </div>

    {{status}}

    <div class="bookings-details">
        
        <div class="flights-table">

            <div class="payment-section add-pad dynamic-table">
                <h2 style="margin-bottom: 20px;">Payment Information</h2>
                <form method="POST" action="{{ url_for('payment.validate_promo_code') }}">
                    <div class="credit-card-number add-pad align-left">
                        <label for="">Credit Card Number: </label>
                        <input type="text">
                    </div>
                    <div class="select-expiry add-pad align-left">
                        <label for="">Expiration Date: </label>
                        <input type="text" name="" id="" placeholder="MM/YY">
                    </div>
                    <div class="security-code add-pad align-left">
                        <label for="">Security Code: </label>
                        <input type="password" placeholder="XXX">
                    </div>
                    <div class="promocode add-pad align-left">
                        <label for="">Promo Code: </label>
                        <input type="text" name="promocode" id="promocode">
                    </div>
                    <div class="validate-promo-code add-pad">
                        <button class="validate-btn">Validate Promo Code</button>
                    </div>
                </form>

                <hr>

            {% for key, value in user_flights_dict.items() %}
            <h2>Booking Summary</h2>
            <table class="add-pad dynamic-table" style="margin-top: 10px;" id="table-{{key}}">
                <tr>
                    <td class="add-bold">Flight ID: </td>
                    <td>{{key}}</td>
                </tr>
                <tr>
                    <td class="add-bold">Airline Name: </td>
                    <td>{{value[0]}}</td>
                </tr>
                <tr>
                    <td class="add-bold">From Location: </td>
                    <td>{{value[1] + " (" + value[2] + ")"}}</td>
                </tr>
                <tr>
                    <td class="add-bold">To Location: </td>
                    <td>{{value[3] + " (" + value[4] + ")"}}</td>
                </tr>
                <tr>
                    <td class="add-bold">Departure Date & Time: </td>
                    <td>{{value[5]}}</td>
                </tr>
                <tr>
                    <td class="add-bold">Arrival Date & Time: </td>
                    <td>{{value[6]}}</td>
                </tr>
                <tr>
                    <td class="add-bold">Flight Duration: </td>
                    <td>{{value[7]}}</td>
                </tr>
            </table>

            <hr>
            <table id="price-breakdown" class="add-pad dynamic-table" style="margin-top: 10px; text-align: center;">
                <h2>Price Breakdown</h2>
                <tr>
                    <td class="add-bold">Price: </td>
                    <td>${{price}}</td>
                </tr>
                <tr>
                    <td class="add-bold">Tax: </td>
                    <td>${{tax}}</td>
                </tr>
                <tr>
                    <td class="add-bold">Total: </td>
                    <td>${{total_price}}</td>
                </tr>
                {% if discount %}
                <tr>
                    <td class="add-bold">Discount: </td>
                    <td>{{discount}}%</td>
                {% endif %}
            </table>


            </div>

            <div class="transaction-buttons">
                <a href="{{ url_for('flights.search_flights', user_name = user_name, user_email = user_email, status = 'Cancelled Transaction')}}">
                    <button class="cancel-transaction">Cancel Transaction</button>
                </a>
            
                    <button id="{{key}}" class="confirm-booking">Confirm Booking</button>
                

                <br>
                <br>
            </div>
            <br>
            <br>    
            
            {% endfor %}
        </div>


    </div>

    
    <br>
    <br>
    <br>
    <br>

    <script src="../static/JS/confirmPayment.js"></script>
    <!--<script src="../static/JS/cancelTransaction.js"></script>-->

</body>
</html>